# ---- CMake ----
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build/
out/
bin/
lib/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
Build folders
x64/
Debug/
Release/
*.obj
*.pdb
*.ilk
*.log
*.tlog
*.ipch
*.idb

Visual Studio files
.vs/
*.suo
*.user
.vcxproj.
*.opensdf
*.sdf

SDL2 DLLs (optional if you want to exclude them)
*.dll

OS junk
Thumbs.db
.DS_Store

Crash dumps
*.dmp
